/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/behaviors.h>
#include <dt-bindings/zmk/bt.h>

#define ___ &trans
#define CTRL_ESC &ht_tp LEFT_CONTROL ESC
#define SPACE_1 &mod_tp 1 SPACE

/ {


    behaviors {
        ht_tp: hold_tap_tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>; // Default ZMK value
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
            display-name = "CTRL-ESC";
        };

        mod_tp: mod_tap_tap_preferred {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
            display-name = "Space-NAV";
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Colemak-DH";
                        bindings = <
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┼─────────────╮
        &kp TAB       &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &kp SEMI      &kp BSPC
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        CTRL_ESC      &kp A         &kp R         &kp S         &kp T         &kp G             &kp M         &kp N         &kp E         &kp I         &kp O         &kp SQT
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp LSHIFT    &kp Z         &kp X         &kp C         &kp D         &kp V             &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH      &kp RSHIFT
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                  &kp LEFT_ALT  &to 1         SPACE_1           &kp RET       &to 2         &kp RIGHT_COMMAND
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                nav_layer {
                        display-name = "Arrow";
                        bindings = <
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┼─────────────╮
        ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___   
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ___           ___           ___           ___           ___           ___               ___           &kp DOWN      &kp UP        &kp RIGHT     ___           ___   
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ___           ___           ___           ___           ___           ___               ___           &kp LEFT      ___           ___           ___           ___   
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                  ___           ___           ___               ___           ___           ___           
     //   
                        >;
                };
                
                symbol_layer {
                        display-name = "Symboles";
                        bindings = <
     // ╭─────────────┬─────────────┬──────────────┬─────────────────┬────────────────────┬─────────────╮   ╭────────────────┬─────────────────────┬─────────────────┬───────────────┬─────────────┼─────────────╮
        ___           &kp EXCL      &kp AT         &kp HASH          &kp PERCENT          &kp CARET         &kp AMPERSAND    &kp STAR              &kp MINUS         &kp PLUS        &kp PIPE      &kp BSPC
     // ├─────────────┼─────────────┼──────────────┼─────────────────┼────────────────────┼─────────────┤   ├────────────────┼─────────────────────┼─────────────────┼───────────────┼─────────────┼─────────────┤
        ___           &kp EQUAL     &kp LEFT_BRACE &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS &kp LESS_THAN     &kp GREATER_THAN &kp RIGHT_PARENTHESIS &kp RIGHT_BRACKET &kp RIGHT_BRACE &kp BACKSLASH &kp DOUBLE_QUOTES
     // ├─────────────┼─────────────┼──────────────┼─────────────────┼────────────────────┼─────────────┤   ├────────────────┼─────────────────────┼─────────────────┼───────────────┼─────────────┼─────────────┤
        ___           &kp TILDE     &kp GRAVE      ___               &kp DOLLAR           ___               ___              ___                   ___               ___             &kp SLASH     ___ 
     // ╰─────────────┼─────────────┼──────────────┼─────────────────┼────────────────────┼─────────────┤   ├────────────────┼─────────────────────┼─────────────────┼───────────────┼─────────────┼─────────────┤
                                                   ___               &to 0                ___               ___              &to 3                 ___
     //                                            ╰─────────────────┴────────────────────┴─────────────╯   ╰────────────────┴─────────────────────┴─────────────────╯
                        >;
                };


                number_layer {
                        display-name = "Numbers";
                        bindings = <
     // ╭─────────────┬─────────────┬─────────────┬────────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┼─────────────╮
        ___           ___           ___           ___              ___           ___               ___           &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  ___           ___   
     // ├─────────────┼─────────────┼─────────────┼────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ___           ___           ___           &kp LEFT_COMMAND &kp LCTRL     ___               ___           &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOT       ___   
     // ├─────────────┼─────────────┼─────────────┼────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ___           ___           ___           ___              ___           ___               ___           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp COMMA     &to 4   
     // ╰─────────────┼─────────────┼─────────────┼────────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                  ___              &to 0         ___               ___           &to 2         &kp N0          
     //                                           ╰────────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

                        >;
                };

                settings_layer {
                        display-name = "Settings";
                        bindings = <
     // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┼─────────────╮
        ___           ___           ___           ___           ___           ___               ___           ___           ___           ___           ___           ___   
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &out OUT_USB  &out OUT_BLE  ___           ___           ___           ___               ___           ___           ___           ___           ___           ___  
     // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &bt BT_PRV    &bt BT_NXT    &bt BT_CLR    &bt BT_CLR_ALL ___          ___               ___           ___           ___           ___           ___   
     // ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                                                  ___           &to 0         ___               ___           &to 2         ___         
     //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
